<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.CompanyDAO">
	<select id="getCompanyByCode" parameterType="String" resultType="fire.web.entity.Company">
		SELECT * FROM com_company WHERE Code = #{code} limit 1
	</select>
	<select id="findByTel" resultType="fire.web.entity.Company">
		SELECT * FROM com_company WHERE Tel = #{Tel} AND Id!=#{Id} limit 1
	</select>
	<select id="findById" parameterType="int" resultType="fire.web.entity.CompanyResult">
		SELECT c.*,m.UserName FROM com_company c join com_manager m
		on(c.Id=m.CompanyId) 
		WHERE c.Id = #{Id} and m.UserId=0
	</select>
	<select id="findAll" resultType="fire.web.entity.Company">
		SELECT * FROM com_company
	</select>
	<update id="updateCompany" parameterType="fire.web.entity.Company">
		UPDATE com_company SET 
			Name = #{Name},
			Province=#{Province},
			City=#{City},
			Area=#{Area},
			Address = #{Address},
			Tel=#{Tel},
			Atten=#{Atten}
			WHERE Id = #{Id}
	</update>
	<insert id="addCompany" parameterType="fire.web.entity.Company" useGeneratedKeys="true" keyProperty="id">
		insert into com_company(
		Name,
		Code,
		Province,
		City,
		Area,
		Address,
		Tel,
		SN,
		Status,
		Atten)
		values(
		#{Name},#{Code},#{Province},#{City},#{Area},#{Address},#{Tel},#{SN},#{Status},#{Atten})		
	</insert>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from com_company where Id = #{Id}
	</delete>
	<select id="findCompanyCount" resultType="int">
		select count(*) from com_company
	</select>
	<select id="findByLimit" resultType="fire.web.entity.Company">
		select * from com_company limit #{begin},#{size}
	</select>
	<update id="updateStatus" parameterType="fire.web.entity.Company">
		UPDATE com_company SET
			status = #{status}
		WHERE Id = #{id}
	</update>
</mapper>