<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.DeviceDAO">
	<select id="findById" parameterType="int" resultType="fire.web.entity.Device">
		SELECT * FROM fir_device  
		WHERE Id = #{Id}
	</select>
	<select id="findAll" resultType="fire.web.entity.Device">
		SELECT * FROM fir_device
	</select>
	<update id="updateDevice" parameterType="fire.web.entity.Device">
		UPDATE fir_device SET 
			Name = #{Name},
			UseTime=#{UseTime},
			WHERE Id = #{Id}
	</update>
	<insert id="addDevice" parameterType="fire.web.entity.Device">
		insert into fir_device(Name,UseTime,Status)
		values(
		#{Name},#{UseTime},#{Status})		
	</insert>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from fir_device where Id = #{Id}
	</delete>
	<select id="findDeviceCount" resultType="int">
		select count(*) from fir_device 
	</select>
	<select id="findByLimit" resultType="fire.web.entity.Device">
		select * from fir_device limit #{begin},#{size}
	</select>
</mapper>