
<!--微信基础配置区域编辑模板-->
<script type="text/template" id="wechat_config_template">
    <div class="custom-table" id="wechat_Config">
        <div class="form">
            <table id="MailForm" border="0" cellpadding="0" cellspacing="0">
                <colgroup>
                    <col style="width:120px;" />
                    <col style="width:auto;" />
                </colgroup>

                <tbody>
                    <tr>
                        <th>
                            <p class="name">
                                	公司名称：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="hidden" value="0" name="Id" id="Id" />
                                <input type="text" id="Name" name="Name" placeholder="公司名称" validate="isnull" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                             	   公司代码：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" id="Code" name="Code" placeholder="公司代码" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                	公司地址：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" id="Address" name="Address" placeholder="公司地址" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                	联系人：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" value="" name="Atten" id="Atten" placeholder="联系人" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                             	   联系电话：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" value="" name="Tel" id="Tel" placeholder="联系电话" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                             	   公司管理员：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" value="" name="ManagerName" id="ManagerName" placeholder="公司管理员" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                             	   公司邮箱：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" value="" name="Email" id="Email" placeholder="公司邮箱" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                             	   管理员联系电话：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" value="" name="Mobile" id="Mobile" placeholder="管理员联系电话" />
                            </div>
                        </td>
                    </tr>
                   
                    <tr>
                        <th></th>
                        <td>
                            <div class="button">
                                <a href="javascript:void(0);" class="btn" onclick="companyManager.save(this);" id="addBtn">保存</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<!--微信基础配置信息展示模板-->
<script type="text/x-jquery-tmpl" id="wechat_info_template">
    <div class="custom-table">
        <div class="form">
            <table id="MailForm" border="0" cellpadding="0" cellspacing="0">
                <colgroup>
                    <col style="width:120px;" />
                    <col style="width:auto;" />
                </colgroup>

                <tbody>
                    <tr>
                        <th>
                            <p class="name">
                             	   公司名称：
                            </p>
                        </th>
                        <td>
                            <div class="string">
                                ${name}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                	公司代码：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                                ${code}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                              	  公司地址：
                            </p>
                        </th>
                        <td>
                            <div class="string">
								${address}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                	公司负责人：
                            </p>
                        </th>
                        <td>
                            <div class="string">
                                   ${atten}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                            	    联系电话：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                               ${tel}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                            	    公司管理员：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                               ${managerName}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                            	    公司邮箱：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                               ${email}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                            	    管理员联系电话：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                               ${mobile}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <td>
                            <div class="button">
                                <a href="javascript:void(0);" class="btn" onclick="companyManager.show(0,);">修改</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>