<script type="text/template" id="bodyListTemplate">
        
        <tr>
            <td>
                <!--自定义复选按钮-->
                <input type="checkbox" value="${Id}" id="Id" name="Id" checklist="1" />
                <!--//自定义复选按钮-->
            </td>
            <td><div class="string center">${name}</div></td>
            <td><div class="string center">${code}</div></td>
            <td><div class="string center">${tel}</div></td>
            <td><div class="string center">
${enumDesc}
</div></td>
            <td><div class="string center">
{{if buildingtype==1}}
民用建筑公共建筑
{{else buildingtype==2}}
民用建筑住宅建筑
{{else buildingtype==3}}
工业建筑
{{else buildingtype==4}}
农业建筑
{{/if}}
</div></td>
            <td><div class="string center">
{{if isimport==true}}
是
{{else isimport==false}}
否
{{/if}}
</div></td>
            <td>
                <!--自定义开关-->
                {{if status==0}}
                <div class="extend">
                    <div class="target target-off">
                        <span onclick="frm.switchStatus(this, '${id}', '${status}', function () { var li = $(this).parent('li'); if (li.hasClass('close')) { li.removeClass('close'); } else { li.addClass('close'); } },'/admin/company/switchStatus.do');"></span>
                    </div>
                </div>
                {{else status==1}}
                <div class="extend">
                    <div class="target target-on">
                        <span onclick="frm.switchStatus(this, '${id}', '${status}', function () { var li = $(this).parent('li'); if (li.hasClass('close')) { li.removeClass('close'); } else { li.addClass('close'); } },'/admin/company/switchStatus.do');"></span>
                    </div>
                </div>
                {{else}}
                <div class="string center">已删除</div>
                {{/if}}
                <!--//自定义开关-->
            </td>
            <td>
                <div class="tool" onmouseover="tableTool.over(this);" onmouseout="tableTool.out(this);">
                    <!--标题栏-->
                    <p class="name">操作</p>
                    <!--//标题栏-->

                    <div class="tool-menu">
                        <ul>
                            
                            <li>
                                <a href="javascript:void(0);" onclick="frm.update({ title: '修改单位', formId: 'CompanyFormTemplate', id: ${id}, url:'/admin/company/getCompany.do', callback: company.updateCompany, width: 750, height: 500,finish:company.updateFinish});">修改</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="frm.del(${id},load,'/admin/company/delete.do');">删除</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        
    </script>
<script type="text/x-jquery-tmpl" id="CompanyFormTemplate">
    <div class="custom-table">
    <div class="form" id="CompanyForm">
        <table border="0" cellpadding="0" cellspacing="0">
            <colgroup>
                <col style="width: 150px;" />
                <col style="width:auto;" />
                <col style="width: 150px;" />
                <col style="width:auto;" />
            </colgroup>

            <tbody>
                <tr>
                    <th>
                        <p class="name rm">
                            <em class="red">*</em>公司名称：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <var class="notice-inline" name="Name" style="font-size:12px;"></var>
                            <input type="hidden" id="Id" name="Id" value="" />
                            <input type="text" name="Name" id="Name" error="输入格式不正确！" validate="isnull|username" maxlength="20" value="" />
                        </div>
                    </td>
   <th>
                        <p class="name rm">
                            <em class="red" >*</em>公司代码：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <input type="text" name="Code" id="Code" value="" maxlength="64" error="输入格式不正确" validate="isnull|code" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="name">
                            <em class="red">*</em>所在地区：
                        </p>
                    </th>
                    <td colspan="3">
                       <div class="selectbox"><select id="Province" name="Province"  validate="isnull" error="请选择所在地"></select></div><span class="tips"></span><div class="selectbox"><select id="City" name="City"  validate="isnull" error="请选择所在地"><option value='-1' selected="selected">请选择</option></select></div><span class="tips"></span><div class="selectbox"><select id="Area" name="Area" validate="isnull" error="请选择所在地"><option value='-1' selected="selected">请选择</option></select></div>
                    </td>
      			
                </tr>
                
                <tr>
				<th>
                        <p class="name">
                            <em class="red">*</em>详细地址：
                        </p>
                    </th>
                    <td colspan="3">
                        <div class="inputbox">
                            <input type="text" name="Address" id="Address" value="" maxlength="50" error="输入格式不正确" validate="isnull|companyaddr" />
                        </div>
                    </td>
                  
                </tr>
				<th>
                        <p class="name">
                            <em class="red">*</em>公司性质：
                        </p>
                    </th>
                    <td colspan="3">
                        <div class="inputbox">
                            <select id="Unitproperties"  error="请选择！" validate="isnull">
								
							</select>
                        </div>
                    </td>
                  
                </tr>
<tr>
                        <th>
                            <p class="name">
                                	建筑类型：
                            </p>
                        </th>
                        <td>
							<select id="Buildingtype"  error="请选择！" validate="isnull">
								<option value="">选择</option>
								<option value="1">民用建筑公共建筑</option>
								<option value="2">民用建筑住宅建筑</option>
								<option value="3">工业建筑</option>
								<option value="4">农业建筑</option>
							</select>
                        </td>
<th>
                            <p class="name">
                                	重点单位：
                            </p>
                        </th>
                        <td>
                            <div class="selectbox">
                               <select id="Isimport"  error="请选择是否重点单位！" validate="isnull">
								<option value="false">否</option>
								<option value="true">是</option>
							</select>
                            </div>
                        </td>
                    </tr>
				<tr>
			<th>
                        <p class="name">
                          	<em class="red">*</em>联系人：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <input type="text" name="Atten" id="Atten" error="输入格式不正确！" validate="isnull|realname" value="" maxlength="20" />
                        </div>
                    </td>
  <th>
                        <p class="name">
                            <em class="red">*</em>联系电话：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <input type="text" name="Tel" id="Tel" error="请输入正确的号码！" validate="isnull|tel" value="" maxlength="20" />
                        </div>
                    </td>
				</tr>
				<tr>
                    <th>
                        <p class="name">
                            <em class="red">*</em>管理员账号：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <input type="text" name="UserName" id="UserName" value="" error="输入格式不正确！" maxlength="50"  validate="isnull|username" />
                        </div>
                    </td>
      <th>
                        <p class="name">
                            <em class="red">*</em>管理员密码：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
  							<input type="password" name="Password" id="Password1" value=""  style="display:none" />
                            <input type="password" name="Password" id="Password" value="" error="输入格式不正确！" maxlength="50" validate="true|password" />
                        </div>
					<span  class="tips">
						默认为:000000
					</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    </script>