<script type="text/template" id="bodyListTemplate">
        <tr>
            <td><div class="string center">${name}</div></td>
            <td><div class="string center">${useTime}</div></td>
            <td>
                <!--自定义开关-->
                {{if status==0}}
                <div class="extend center">
                    <div class="target target-off">
                        <span onclick="frm.switchStatus(this, '${id}', '${status}', function () { var li = $(this).parent('li'); if (li.hasClass('close')) { li.removeClass('close'); } else { li.addClass('close'); } },'/deviceType/switchStatus.do');"></span>
                    </div>
                </div>
                {{else status==1}}
                <div class="extend center">
                    <div class="target target-on">
                        <span onclick="frm.switchStatus(this, '${id}', '${status}', function () { var li = $(this).parent('li'); if (li.hasClass('close')) { li.removeClass('close'); } else { li.addClass('close'); } },'/deviceType/switchStatus.do');"></span>
                    </div>
                </div>
                {{else}}
                <div class="string center">已删除</div>
                {{/if}}
                <!--//自定义开关-->
            </td>
            <td>
                <div class="tool" onmouseover="tableTool.over(this);" onmouseout="tableTool.out(this);">
                    <!--标题栏-->
                    <p class="name">操作</p>
                    <!--//标题栏-->

                    <div class="tool-menu">
                        <ul>
                            
                            <li>
                                <a href="javascript:void(0);" onclick="frm.update({ title: '修改消防设备类型', formId: 'DeviceTypeFormTemplate', id: ${id}, url:'/deviceType/getDeviceType.do', callback: deviceType.updateDeviceType , width: 700, height: 200});">修改</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="deviceTypeParameter.openParameterDialog(${id})">参数</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="frm.del(${id},load,'/deviceType/delete.do');">删除</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        
    </script>
<script type="text/x-jquery-tmpl" id="DeviceTypeFormTemplate">
    <div class="custom-table">
    <div class="form" id="DeviceTypeForm">
        <table border="0" cellpadding="0" cellspacing="0">
            <colgroup>
                <col style="width: 150px;" />
                <col style="width:auto;" />
            </colgroup>

            <tbody>
                <tr>
                    <th>
                        <p class="name rm">
                            <em class="red">*</em>设备名：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                           
                            <input type="hidden" id="Id" name="Id" value="" />
                            <input type="text" name="Name" id="Name" error="输入格式不正确！" validate="isnull|username" maxlength="20" value="" />
                        </div>
                    </td>
<th>
                        <p class="name rm">
                            <em class="red">*</em>使用时间：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <input type="text" name="UseTime" id="UseTime" readonly=readonly onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'});" validate="isnull" error="请选择时间！"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</script>
    
<script type="text/template" id="DeviceParameterListTemplate">
        
        <tr>
            <td><div class="string center">${description}</div></td>
            <td><div class="string center">${dict.editorType[(editorType)]}</div></td>
            <td><div class="string center">${unit}</div></td>
            <td><div class="string center">${reorder}</div></td>
            <td>
                <!--自定义开关-->
                {{if status==0}}
                <div class="extend center">
                    <div class="target target-off">
                        <span onclick="frm.switchStatus(this, '${id}', '${status}', function () { var li = $(this).parent('li'); if (li.hasClass('close')) { li.removeClass('close'); } else { li.addClass('close'); } },'/admin/dtp/switchStatus.do');"></span>
                    </div>
                </div>
                {{else status==1}}
                <div class="extend center">
                    <div class="target target-on">
                        <span onclick="frm.switchStatus(this, '${id}', '${status}', function () { var li = $(this).parent('li'); if (li.hasClass('close')) { li.removeClass('close'); } else { li.addClass('close'); } },'/admin/dtp/switchStatus.do');"></span>
                    </div>
                </div>
                {{else}}
                <div class="string center">已删除</div>
                {{/if}}
                <!--//自定义开关-->
            </td>
            <td>
                <div class="tool" onmouseover="tableTool.over(this);" onmouseout="tableTool.out(this);">
                    <!--标题栏-->
                    <p class="name">操作</p>
                    <!--//标题栏-->

                    <div class="tool-menu">
                        <ul>
                            
                            <li>
                                <a href="javascript:void(0);" onclick="frm.update({ title: '修改消防设备对应的参数', formId: 'DeviceParameterFormTemplate', id: ${id}, url:'/admin/dtp/getDeviceTypeParameter.do', callback: deviceTypeParameter.updateDeviceTypeParameter , width: 700, height: 400,finish: deviceTypeParameter.updateFinish});">修改</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="frm.del(${id},deviceTypeParameter.openParameterDialog,'/admin/dtp/delete.do');">删除</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        
    </script>
<script type="text/x-jquery-tmpl" id="DeviceParameterFormTemplate">
    <div class="custom-table">
    <div class="form" id="DeviceParameterForm">
        <table border="0" cellpadding="0" cellspacing="0">
            <colgroup>
                <col style="width: 150px;" />
                <col style="width:auto;" />
                <col style="width: 150px;" />
                <col style="width:auto;" />
            </colgroup>

            <tbody>
                <tr>
                    <th>
                        <p class="name rm">
                            <em class="red">*</em>字段名称：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <var class="notice-inline" name="Name" style="font-size:12px;"></var>
                            <input type="hidden" id="Id" name="Id" value="" />
                            <input type="text" name="Description" id="Description" error="输入格式不正确！" validate="isnull|username" maxlength="20" value="" />
                        </div>
                    </td>
<th>
                        <p class="name rm">
                            	使用单位：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <input type="text" name="Unit" id="Unit" validate="true|username" maxlength="20" value="" />
                        </div>
                    </td>
                </tr>
						
                <tr>
					<th>
                            <p class="name">
                                <em class="red">*</em>编辑类型：
                            </p>
                        </th>
                        <td>
                            <div class="selectbox">
                                <select id="EditorType" name="EditorType" validate="isnull" error="请选择编辑类型！" onchange="deviceTypeParameter.editorTypeChange(this)">
                                    <option value='text'>单文本框</option>
 									<option value='texts'>多文本框</option>
                                    <option value='select'>下拉框</option>
                                    <option value='textarea'>备注</option>
                                    <option value='checkbox'>复选框</option>
                                    <option value='upload'>上传</option>
                                </select>
                            </div>

                        </td>
                    <th>
                        <p class="name">
                            	排序：
                        </p>
                    </th>
                    <td>
                        <div class="inputbox">
                            <input type="text" name="Reorder" id="Reorder"  error="输入格式不正确！" validate="true|intege1" maxlength="20" value="" />
                        </div>
                    </td>
      			
                </tr>
				<tr style="display:none" id="tr_Candidate">
                        <th>
                            <p class="name">
                                表达式：
                            </p>
                        </th>
                        <td colspan="3">
                            <div class="button">
                                <a href="javascript:void(0);" class="btn" onclick="deviceTypeParameter.addRule()"> 新增</a>

                            </div>

                            <table border="0" cellpadding="0" cellspacing="0">
                                <colgroup>
                                    <col style="width: 80px;" />
                                    <col style="width: 180px;" />
                                    <col style="width: 80px;" />
                                    <col style="width: auto;" />
  									<col style="width: 60px;" />
                                </colgroup>
                                <tbody id="ul_body"></tbody>
                            </table>

                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
</script>
<script type="text/x-jquery-tmpl" id="rowTemplate">

    <tr>
        <th>
            <p class="name">
                描述：
            </p>
        </th>

        <td {{if (EditorType=="texts" || EditorType=="select" || EditorType=="checkbox")}}colspan="3"{{/if}}>
            <div class="extend">
                <div class="inputbox">
                    <input type="text" id="Field" name="Field" value="${Field}"  validate="" />

                </div>
            </div>
        </td>
<td>
 <div class="extend">
                <div class="inputbox">
                    <p class="name">
                        <a href="javascript:void(0);" class="btn" onclick="deviceTypeParameter.delRule(this)">删除</a>
                    </p>
                </div>
            </div>
</td>
    </tr>

</script>