
<!--微信基础配置区域编辑模板-->
<script type="text/template" id="wechat_config_template">
    <div class="custom-table" id="wechat_Config">
        <div class="form">
            <table id="MailForm" border="0" cellpadding="0" cellspacing="0">
                <colgroup>
                    <col style="width:120px;" />
                    <col style="width:auto;" />
                </colgroup>

                <tbody>
                    <tr>
                        <th>
                            <p class="name">
                                公众号名称：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="hidden" value="0" name="Id" id="Id" />
                                <input type="text" id="Name" name="Name" placeholder="公众号名称" validate="isnull" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                公众号原始ID：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" id="OriginalId" name="OriginalId" placeholder="公众号原始ID" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                微信号：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" id="Account" name="Account" placeholder="微信号" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                公众号类型：
                            </p>
                        </th>
                        <td>
                            <div class="selectbox">
                                <select id="Catering" name="Catering">
                                    <option value="1">普通订阅号</option>
                                    <option value="2">普通服务号</option>
                                    <option value="3">认证订阅号</option>
                                    <option value="4">认证服务号</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                AppID：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" value="" name="AppId" id="AppId" placeholder="AppId" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                AppSecret：
                            </p>
                        </th>
                        <td>
                            <div class="inputbox">
                                <input type="text" value="" name="Secret" id="Secret" placeholder="Secret" />
                            </div>
                        </td>
                    </tr>
                   
                    <tr>
                        <th></th>
                        <td>
                            <div class="button">
                                <a href="javascript:void(0);" class="btn" onclick="wechat.set.save(this);" id="addBtn">保存</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<!--微信基础配置信息展示模板-->
<script type="text/x-jquery-tmpl" id="wechat_info_template">
    <div class="custom-table">
        <div class="form">
            <table id="MailForm" border="0" cellpadding="0" cellspacing="0">
                <colgroup>
                    <col style="width:120px;" />
                    <col style="width:auto;" />
                </colgroup>

                <tbody>
                    <tr>
                        <th>
                            <p class="name">
                                公众号名称：
                            </p>
                        </th>
                        <td>
                            <div class="string">
                                ${name}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                公众号原始ID：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                                ${originalId}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                微信号：
                            </p>
                        </th>
                        <td>
                            <div class="string">
								${account}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                公众号类型：
                            </p>
                        </th>
                        <td>
                            <div class="string">
                                   {{if (catering==1)}}
                                    普通订阅号
                                   {{else (catering==2)}}
                                    普通服务号
                                    {{else (catering==3)}}
                                    认证订阅号
                                    {{else (catering==4)}}
                                    认证服务号
                                    {{else}}
{{/if}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                AppId：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                               ${appId}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p class="name">
                                AppSecret：
                            </p>
                        </th>
                        <td>
                            <div class="number left">
                                ${secret}
                            </div>
                        </td>
                    </tr>
               
                    <tr>
                        <th>
                        </th>
                        <td>
                            <div class="button">
                                <a href="javascript:void(0);" class="btn" onclick="wechat.set.show(0,);">修改</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>