<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.AssignmentDAO">
	<select id="findById" parameterType="int" resultType="fire.common.entity.Assignment">
		select * from fir_assignment WHERE Id = #{id}
	</select>
	<select id="getAssignmentByCheckId" parameterType="int" resultMap="map1">
		select a.Id,a.CheckId,ToManagerId, a.PredictTime,a.Remark,
		a.Status,a.AddTime
		from fir_assignment as a 
		 WHERE a.CheckId = #{checkId} limit 1
	</select>
	<resultMap id="map1" type="fire.common.entity.AssignmentResult">
		 <collection property="list" javaType="java.util.List" ofType="fire.common.entity.Repairrecord"
		 			 select="findRepairrecord" column="{Id}">
		 </collection>
	</resultMap>
	<select id="findRepairrecord" parameterType="int" resultType="fire.common.entity.Repairrecord">
		select * from fir_repairrecord where AssignmentId=#{Id}
	</select>
	<update id="updateAssignment" parameterType="fire.common.entity.Assignment">
		UPDATE fir_assignment SET
			CompanyId=#{CompanyId}, 
			FromManagerId=#{FromManagerId}, 
			ToManagerId=#{ToManagerId}, 
			CheckId=#{CheckId}, 
			PredictTime=#{PredictTime},
			Remark=#{Remark},
			AddTime=#{AddTime},
			Status=#{Status}
			WHERE Id = #{Id}
	</update>
	<insert id="addAssignment" parameterType="fire.common.entity.Assignment">
		insert into fir_assignment(
		CompanyId,FromManagerId,ToManagerId,
		CheckId,PredictTime,Remark,AddTime,Status,Title
		)
		values(
		#{CompanyId},#{FromManagerId},#{ToManagerId},
		#{CheckId},#{PredictTime},#{Remark},#{AddTime},
		#{Status},#{Title}
		)		
	</insert>
	<delete id="delete" parameterType="int">
		delete from fir_assignment where Id = #{id}
	</delete>
	<select id="findAssignmentCount" resultType="int" parameterType="int">
		select count(*) from fir_assignment a join com_manager b
		on(a.ToManagerId=b.Id) join fir_checkdevice c
		on(a.CheckId=c.Id) where a.CompanyId=#{companyId}
	</select>
	<select id="findByLimit" resultType="fire.common.entity.AssignmentResult">
		select a.*,b.Name,c.Description from fir_assignment a join com_manager b
		on(a.ToManagerId=b.Id) join fir_checkdevice c
		on(a.CheckId=c.Id)
		where a.CompanyId=#{companyId} 
		limit #{begin},#{size}
	</select>
	<select id="findByManagerCount" resultType="int">
		select count(*) from fir_assignment a join com_manager b
		on(a.ToManagerId=b.Id) join fir_checkdevice c
		on(a.CheckId=c.Id) join fir_devicetype d
		on(c.DeviceTypeId=d.Id)
		where b.CompanyId=#{companyId}
		<if test="managerId!=null and managerId!=0">
			and a.ToManagerId=#{managerId}
		</if>
		<if test="status!=null">
			and a.Status=#{status}
		</if>
		<if test="keyword!=null and keyword!=''">
			and (c.ManagerName like CONCAT('%',#{keyword},'%') or d.Name like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
	
	<select id="findByManagerLimit" resultType="fire.common.entity.AssignmentResult">
		select a.*,b.Name,c.Description,c.DeviceTypeId,d.Name as DeviceType from fir_assignment a join com_manager b
		on(a.ToManagerId=b.Id) join fir_checkdevice c
		on(a.CheckId=c.Id) join fir_devicetype d
		on(c.DeviceTypeId=d.Id)
		where b.CompanyId=#{companyId}
		<if test="managerId!=null and managerId!=0">
			and a.ToManagerId=#{managerId}
		</if>
		<if test="status!=null">
			and a.Status=#{status}
		</if>
		<if test="keyword!=null and keyword!=''">
			and (c.ManagerName like CONCAT('%',#{keyword},'%') or d.Name like CONCAT('%',#{keyword},'%'))
		</if>
		limit #{begin},#{size}
	</select>
	<select id="getStatistics" resultType="fire.common.entity.StatusStatistics">
		select count(*) as Count,a.Status from fir_assignment a join com_manager b
		on(a.ToManagerId=b.Id) join fir_checkdevice c
		on(a.CheckId=c.Id) join fir_devicetype d
		on(c.DeviceTypeId=d.Id)
		where a.ToManagerId=#{managerId} 
		<if test="status!=null">
			and a.Status=#{status}
		</if>
		<if test="keyword!=null and keyword!=''">
			and (c.ManagerName like CONCAT('%',#{keyword},'%') or d.Name like CONCAT('%',#{keyword},'%'))
		</if>
		group by a.Status
	</select>
	<update id="updateStatus" parameterType="fire.common.entity.Assignment">
		UPDATE fir_assignment SET
			status = #{status}
		WHERE Id = #{id}
	</update>
	<select id="getAssignmentByDeviceId" resultType="fire.common.entity.AssignmentResult">
	select a.*,b.Description,b.Status as CheckStatus from fir_checkdevice b 
		left join fir_assignment a
		on(a.CheckId=b.Id and a.ToManagerId=#{toManagerId}) 
		where  b.DeviceId=#{deviceId} 
		order by b.Id DESC limit 1;
	</select>
</mapper>