<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.AssignmentDAO">
	<select id="findById" parameterType="int" resultType="fire.common.entity.Assignment">
		select * from fir_assignment WHERE Id = #{id}
	</select>
	<select id="getAssignmentByCheckId" parameterType="int" resultType="fire.common.entity.Assignment">
		select * from fir_assignment WHERE CheckId = #{checkId} limit 1
	</select>
	<update id="updateAssignment" parameterType="fire.common.entity.Assignment">
		UPDATE fir_assignment SET
			CompanyId=#{CompanyId}, 
			FromManagerId=#{FromManagerId}, 
			ToManagerId=#{ToManagerId}, 
			CheckId=#{CheckId}, 
			PredictTime=#{PredictTime},
			Remark=#{Remark},
			AddTime=#{AddTime},
			Status=#{Status}
			WHERE Id = #{Id}
	</update>
	<insert id="addAssignment" parameterType="fire.common.entity.Assignment">
		insert into fir_assignment(
		CompanyId,FromManagerId,ToManagerId,
		CheckId,PredictTime,Remark,AddTime,Status,Title
		)
		values(
		#{CompanyId},#{FromManagerId},#{ToManagerId},
		#{CheckId},#{PredictTime},#{Remark},#{AddTime},
		#{Status},#{Title}
		)		
	</insert>
	<delete id="delete" parameterType="int">
		delete from fir_assignment where Id = #{id}
	</delete>
	<select id="findAssignmentCount" resultType="int" parameterType="int">
		select count(*) from fir_assignment where CompanyId=#{companyId}
	</select>
	<select id="findByLimit" resultType="fire.common.entity.AssignmentResult">
		select a.*,b.Name,c.Description from fir_assignment a join com_manager b
		on(a.ToManagerId=b.Id) join fir_checkdevice c
		on(a.CheckId=c.Id)
		where a.CompanyId=#{companyId} 
		limit #{begin},#{size}
	</select>
	<select id="findByManagerCount" resultType="int">
		select count(*) from fir_assignment a join fir_checkdevice b
		on(a.CheckId=b.Id)
		where a.ToManagerId=#{managerId}
		<if test="deviceTypeId!=null and deviceTypeId!=0">
			and b.DeviceTypeId=#{deviceTypeId}
		</if>
	</select>
	
	<select id="findByManagerLimit" resultType="fire.common.entity.AssignmentResult">
		select a.*,b.Name,c.Description,c.DeviceTypeId,d.Name as DeviceType from fir_assignment a join com_manager b
		on(a.ToManagerId=b.Id) join fir_checkdevice c
		on(a.CheckId=c.Id) join fir_devicetype d
		on(c.DeviceTypeId=d.Id)
		where a.ToManagerId=#{managerId} 
		<if test="deviceTypeId!=null and deviceTypeId!=0">
			and c.DeviceTypeId=#{deviceTypeId}
		</if>
		limit #{begin},#{size}
	</select>
	<update id="updateStatus" parameterType="fire.common.entity.Assignment">
		UPDATE fir_assignment SET
			status = #{status}
		WHERE Id = #{id}
	</update>
	<select id="getAssignmentByDeviceId" resultType="fire.common.entity.AssignmentResult">
	select a.*,b.Description from fir_assignment a 
		join fir_checkdevice b
		on(a.CheckId=b.Id) 
		where a.ToManagerId=#{toManagerId} and b.DeviceId=#{deviceId} 
	</select>
</mapper>