<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.CheckDeviceDAO">
	<insert id="addCD" parameterType="fire.common.entity.CheckDevice" useGeneratedKeys="true" keyProperty="id">
		insert into fir_checkdevice(
		DeviceId,DeviceTypeId,CompanyId,ManagerId,
		ManagerName,Description,Certificate,SeverityLevel,
		AddTime,Status
		)
		values(
		#{DeviceId},#{DeviceTypeId},#{CompanyId},
		#{ManagerId},#{ManagerName},#{Description},#{Certificate},
		#{SeverityLevel},#{AddTime},#{Status}
		)	
	</insert>
	<select id="getCD" parameterType="int" resultType="fire.common.entity.CheckDeviceResult">
		select c.*,t.Name,n.Model,n.Detail from fir_checkdevice c join fir_devicetype t
		on(c.DeviceTypeId=t.Id) left join fir_device n 
		on(c.DeviceId=n.Id)
		where c.Id=#{id}
	</select>
	<update id="updateCD" parameterType="fire.common.entity.CheckDevice">
		UPDATE fir_checkdevice SET
			DeviceId=#{DeviceId}, 
			DeviceTypeId=#{DeviceTypeId}, 
			CompanyId=#{CompanyId}, 
			ManagerId=#{ManagerId}, 
			ManagerName=#{ManagerName},
			Description=#{Description},
			Certificate=#{Certificate},
			SeverityLevel=#{SeverityLevel},
			AddTime=#{AddTime},
			Status=#{Status}
			WHERE Id = #{Id}
	</update>
	<delete id="delete" parameterType="int">
		delete from fir_checkdevice where Id = #{id}
	</delete>
	<select id="findCDCount" resultType="int" >
			select count(*) from fir_checkdevice c join fir_devicetype t
		on(c.DeviceTypeId=t.Id)  join fir_device n 
		on(c.DeviceId=n.Id) where c.CompanyId=#{companyId}
		<if test="managerId!=null and managerId!=0">
			and c.ManagerId=#{managerId}
		</if>
	</select>
	<select id="findByLimit" resultType="fire.common.entity.CheckDeviceResult">
		select c.*,t.Name,n.Model,n.Detail from fir_checkdevice c join fir_devicetype t
		on(c.DeviceTypeId=t.Id)  join fir_device n 
		on(c.DeviceId=n.Id) where c.CompanyId=#{companyId}
		<if test="managerId!=null and managerId!=0">
			and c.ManagerId=#{managerId}
		</if>
		 limit #{begin},#{size}
	</select>
</mapper>