<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.DeviceTypeDAO">
	<select id="getDeviceType" parameterType="String" resultType="fire.web.entity.DeviceType">
		SELECT * FROM fir_devicetype WHERE Name = #{Name} limit 1
	</select>
	<select id="findById" parameterType="int" resultType="fire.web.entity.DeviceType">
		SELECT * FROM fir_devicetype  
		WHERE Id = #{Id}
	</select>
	<select id="findAll" resultType="fire.web.entity.DeviceType">
		SELECT * FROM fir_devicetype
	</select>
	<update id="updateDeviceType" parameterType="fire.web.entity.DeviceType">
		UPDATE fir_devicetype SET 
			Name = #{Name},
			UseTime=#{UseTime}
			WHERE Id = #{Id}
	</update>
	<insert id="addDeviceType" parameterType="fire.web.entity.DeviceType">
		insert into fir_devicetype(Name,UseTime,Status)
		values(
		#{Name},#{UseTime},#{Status})		
	</insert>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from fir_devicetype where Id = #{Id}
	</delete>
	<select id="findDeviceTypeCount" resultType="int">
		select count(*) from fir_devicetype 
	</select>
	<select id="findByLimit" resultType="fire.web.entity.DeviceType">
		select * from fir_devicetype limit #{begin},#{size}
	</select>
	<update id="updateStatus" parameterType="fire.web.entity.DeviceType">
		UPDATE fir_devicetype SET
			status = #{status}
		WHERE Id = #{id}
	</update>
</mapper>