<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.DeviceParameterValueDAO">
	<select id="getDeviceParameterValues" parameterType="java.lang.Integer" resultType="fire.common.entity.DeviceParameterValue">
		select * from fir_deviceparametervalue
		WHERE DeviceId = #{deviceId}
	</select>
	<update id="updateDeviceParameterValue" parameterType="java.util.List">
	  <foreach item="item" collection="dpvs" separator=";">  
		UPDATE fir_deviceparametervalue SET 
			DeviceId = #{item.DeviceId},
			DeviceTypeId=#{item.DeviceTypeId},
			ParameterId=#{item.ParameterId},
			Value=#{item.Value},
			Description=#{item.Description}
			WHERE DeviceId = #{item.DeviceId} AND DeviceTypeId=#{item.DeviceTypeId} AND ParameterId=#{item.ParameterId}
		</foreach>  
	</update>
	<insert id="addDeviceParameterValue" parameterType="java.util.List">
	<foreach collection="dpvs" item="item"  separator=";">  
		insert into fir_deviceparametervalue(
		DeviceId,DeviceTypeId,ParameterId,Value,Description
		)
		values 
		(#{item.DeviceId},#{item.DeviceTypeId},#{item.ParameterId},
		#{item.Value},#{item.Description})	
		 </foreach>  	
	</insert>
	<delete id="delete" parameterType="int">
		delete from fir_deviceparametervalue where DeviceId = #{deviceId}
	</delete>
</mapper>