<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.DeviceQRDAO">
	<select id="findById" parameterType="int" resultType="fire.common.entity.DeviceQR">
		select * from fir_deviceqr WHERE Id = #{id}
	</select>
	<select id="findByCode" parameterType="String" resultType="fire.common.entity.ScanInfo">
		select c.Model,c.Buildings,c.Floor,c.Position,c.Passageway,b.Name as DeviceTypeName,a.DeviceId,IFNULL(c.DeviceTypeId,b.Id) as DeviceTypeId,
		c.CompanyId
		 from fir_deviceqr as a join fir_deviceType as b
		on(a.DeviceTypeId=b.Id)
		 left join
		fir_device as c on(a.DeviceId=c.Id)
		 WHERE a.Code = #{code}
	</select>
	<insert id="addDeviceQR" parameterType="java.util.List">
		
		<foreach collection ="list" item="deviceQR" index= "index" separator =";">
              insert into fir_deviceqr(
		DeviceTypeId,Code,QRVirtural,
		IsUsed,AddTime,DeviceId,Batch
		)
		values
                (
                #{deviceQR.DeviceTypeId}, #{deviceQR.code},
                #{deviceQR.QRVirtural},
                #{deviceQR.IsUsed},
                #{deviceQR.AddTime},#{deviceQR.DeviceId},#{deviceQR.Batch}
               )  
        </foreach >		
		</insert>
		<update id="update">
			UPDATE fir_deviceqr SET 
			IsUsed=1, 
			DeviceId=#{deviceId}
			WHERE Code = #{code}
		</update>
		<update id="unBind" parameterType="int">
			UPDATE fir_deviceqr SET 
			IsUsed=0, 
			DeviceId=0
			WHERE DeviceId = #{deviceId}
		</update>
	<delete id="delete" parameterType="int">
		delete from fir_deviceqr where Id = #{id}
	</delete>
	<select id="findDeviceQRCount" resultType="int">
		select count(*) from fir_deviceqr q join fir_devicetype t
		on(q.DeviceTypeId=t.Id)
	</select>
	<select id="findByLimit" resultType="fire.common.entity.DeviceQRResult">
		select q.*,t.Name,n.Model,n.UseTime from fir_deviceqr q join fir_devicetype t
		on(q.DeviceTypeId=t.Id) left join fir_device n 
		on(q.DeviceId=n.Id) limit #{begin},#{size}
	</select>
	<select id="search" resultType="fire.common.entity.DeviceQRResult">
		select q.*,t.Name,n.Model,n.UseTime from fir_deviceqr q join fir_devicetype t
		on(q.DeviceTypeId=t.Id) left join fir_device n 
		on(q.DeviceId=n.Id) 
		where 1=1
		<if test="model!=null and model!=''">
			and n.Model = #{model}
		</if>
		<if test="deviceTypeId!=null">
			and q.DeviceTypeId = #{deviceTypeId}
		</if>
		limit #{begin},#{size}
	</select>
	<select id="getQRList" parameterType="String" resultType="fire.common.entity.DeviceQR">
		select *from fir_deviceqr where batch=#{batch}
	</select>
		<select id="getQrByCodeOrDeviceId"  resultType="fire.common.entity.DeviceQR">
		select * from fir_deviceqr
		 WHERE Code = #{code} or DeviceId=#{deviceId}
	</select>
</mapper>