<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.DeviceDAO">
	<select id="findById" parameterType="int" resultType="fire.common.entity.DeviceResult">
		select d.*,t.Name from fir_device d join fir_devicetype t
		on(d.DeviceTypeId=t.Id)
		WHERE d.Id = #{id}
	</select>
	<update id="updateDevice" parameterType="fire.common.entity.Device">
		UPDATE fir_device SET
			DeviceTypeId=#{DeviceTypeId}, 
			Model=#{Model}, 
			Manufacturer=#{Manufacturer}, 
			Spec=#{Spec}, 
			Buildings=#{Buildings},
			Floor=#{Floor},
			Position=#{Position},
			Passageway=#{Passageway},
			Detail=#{Detail}
			WHERE Id = #{Id}
	</update>
	<insert id="addDevice" parameterType="fire.common.entity.DeviceResult" useGeneratedKeys="true" keyProperty="id">
		insert into fir_device(
		DeviceTypeId,Model,Manufacturer,
		Spec,UseTime,AddTime,Buildings,
		Floor,Position,Passageway,Detail,CompanyId
		)
		values(
		#{DeviceTypeId},#{Model},#{Manufacturer},
		#{Spec},#{UseTime},#{AddTime},#{Buildings},
		#{Floor},#{Position},#{Passageway},#{Detail},#{CompanyId}
		)		
	</insert>
	<delete id="delete" parameterType="int">
		delete from fir_device where Id = #{id}
	</delete>
	<select id="findDeviceCount" resultType="int">
		select count(*) from fir_device 
	</select>
	<select id="findByLimit" resultType="fire.common.entity.DeviceResult">
		select d.*,t.Name from fir_device d join fir_devicetype t
		on(d.DeviceTypeId=t.Id) 
		where CompanyId=#{companyId} limit #{begin},#{size}
	</select>
</mapper>