<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.ManagerDAO">
	<select id="getManagerByCompanyId" parameterType="int" resultType="fire.web.entity.Manager">
	select * from com_manager where companyId=#{companyId}
	</select>
	<delete id="deleteByCompanyId" parameterType="int">
		delete from com_manager where CompanyId = #{CompanyId}
	</delete>
	<select id="findByUserName" parameterType="String" resultType="fire.web.entity.Manager">
		SELECT * FROM com_manager WHERE UserName = #{UserName} limit 1
	</select>
	<select id="findByName" parameterType="String" resultType="fire.web.entity.Manager">
		SELECT * FROM com_manager WHERE Name = #{name} limit 1
	</select>
	<select id="findNameIsExist" resultType="fire.web.entity.Manager">
		SELECT * FROM com_manager WHERE Name = #{name} and Id!=#{id} limit 1
	</select>
	<select id="findById" parameterType="int" resultType="fire.web.entity.Manager">
		SELECT * FROM com_manager
		WHERE Id = #{Id}
	</select>
	<update id="updateManager" parameterType="fire.web.entity.Manager">
		UPDATE com_manager SET
			Password=#{Password},
			Position=#{Position},
			Name = #{Name},
			NickName=#{NickName},
			Face=#{Face},
			Email=#{Email},
			Mobile=#{Mobile},
			Question=#{Question},
			Answer=#{Answer},
			Reorder=#{Reorder},
			Remark=#{Remark}
			WHERE Id = #{Id}
	</update>
	<insert id="addManager" parameterType="fire.web.entity.Manager" useGeneratedKeys="true" keyProperty="id">
		insert into com_manager(
		CompanyId,
		UserName,
		Password,
		Position,
		Name,
		NickName,
		Face,
		Email,
		Mobile,
		Errors,
		ErrorTime,
		LoginIP,
		LoginTime,
		LastLoginIP,
		LastLoginTime,
		LoginCount,
		Question,
		Answer,
		Reorder,
		Status,
		AddTime,
		Remark,
		UserId)
		values(
		#{CompanyId},#{UserName},#{Password},#{Position},
		#{Name},#{NickName},#{Face},#{Email},#{Mobile},
		#{Errors},#{ErrorTime},#{LoginIP},#{LoginTime},#{LastLoginIP},
		#{LastLoginTime},#{LoginCount},#{Question},#{Answer},#{Reorder},
		#{Status},#{AddTime},#{Remark},#{UserId})		
	</insert>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from com_manager where Id = #{Id}
	</delete>
	<select id="findManagerCount" resultType="int">
		select count(*) from com_manager
	</select>
	<select id="findByLimit" resultType="fire.web.entity.Manager">
		select * from com_manager where CompanyId=#{companyId} limit #{begin},#{size}
	</select>
	<update id="updateStatus" parameterType="fire.web.entity.Manager">
		UPDATE com_manager SET
			status = #{status}
		WHERE Id = #{id}
	</update>
</mapper>