<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.ReportDAO">
	<select id="getDeviceNumSummaryList" resultType="fire.common.entity.DeviceNumSummary">
		SELECT 
    Name,
    (SELECT 
            COUNT(*)
        FROM
            fir_device
        WHERE
            DeviceTypeId= a.Id
            <if test="deviceTypeId!=0">
            	and DeviceTypeId=#{deviceTypeId}
            </if>
              <if test="companyId!=0">
            	and CompanyId=#{companyId}
            </if>
            <if test="endTime!=null">
            	and AddTime&lt;#{endTime}
            </if>
            ) as DeviceNum,
              (SELECT 
            COUNT(*)
        FROM
            fir_checkdevice
        WHERE
            deviceTypeId = a.Id AND Status > 0
              <if test="deviceTypeId!=0">
            	and DeviceTypeId=#{deviceTypeId}
            </if>
              <if test="companyId!=0">
            	and CompanyId=#{companyId}
            </if>
             <if test="startTime!=null">
            	and AddTime&gt;#{startTime}
             </if>
             <if test="endTime!=null">
            	and AddTime&lt;#{endTime}
            </if>
            ) AS FailureNum,
    (SELECT 
            COUNT(*)
        FROM
            fir_checkdevice
        WHERE
            deviceTypeId = a.Id AND Status = 2
              <if test="deviceTypeId!=0">
            	and DeviceTypeId=#{deviceTypeId}
            </if>
              <if test="companyId!=0">
            	and CompanyId=#{companyId}
            </if>
               <if test="startTime!=null">
            	and AddTime&gt;#{startTime}
             </if>
             <if test="endTime!=null">
            	and AddTime&lt;#{endTime}
            </if>
            ) AS RectifiedNum
FROM
    fir_deviceType AS a where 1=1 
     <if test="deviceTypeId!=0">
            	and a.Id=#{deviceTypeId}
      </if>
    
	</select>
	<select id="getAssignmentSummaryList" resultType="fire.common.entity.AssignmentSummary">
	SELECT 
    DATE_FORMAT(PredictTime, '%m') Month,
    COUNT(*) as AssignmentCount,
    (SELECT 
            COUNT(*)
        FROM
            fir_RepairRecord
        WHERE
            assignmentid = a.Id
                AND Addtime &gt; a.PredictTime
        GROUP BY DATE_FORMAT(Addtime, '%m')) as CompleteCount
FROM
    fir_assignment AS a
    where 1=1
      <if test="startTime!=null">
            	and DATE_FORMAT(PredictTime, '%Y')=#{startTime}
             </if>
     <if test="companyId!=0">
            	and a.CompanyId=#{companyId}
            </if>
GROUP BY Month;

	
	</select>
</mapper>