<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.UserDAO">
	<select id="findByUserName" parameterType="String" resultType="fire.common.entity.User">
		SELECT * FROM adm_account WHERE UserName = #{UserName} limit 1
	</select>
	<select id="findById" parameterType="int" resultType="fire.common.entity.User">
		SELECT * FROM adm_account WHERE Id = #{id} limit 1
	</select>
	<update id="updateUser" parameterType="fire.common.entity.User">
		UPDATE adm_account SET		
        Password=#{Password}
		WHERE Id = #{Id}
	</update>
</mapper>