<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="fire.web.dao.WeChatAccountDAO">
	<select id="getWeChatAccount" resultType="fire.web.entity.WeChatAccount">
		SELECT * FROM soc_wechataccount limit 1
	</select>
	<update id="updateWeChatAccount" parameterType="fire.web.entity.WeChatAccount">
		UPDATE soc_wechataccount SET 
			Name = #{Name},
			OriginalId=#{OriginalId},
			Account=#{Account},
			Catering=#{Catering},
			AppId = #{AppId},
			Secret=#{Secret}
			WHERE Id = #{Id}
	</update>
	<insert id="addWeChatAccount" parameterType="fire.web.entity.WeChatAccount">
		insert into soc_wechataccount(
		Name,
		OriginalId,
		Account,
		Catering,
		AppId,
		Secret,
		Token,
		EncodingAESKey
		)
		values(
		#{Name},#{OriginalId},#{Account},#{Catering},#{AppId},#{Secret},
		#{Token},#{EncodingAESKey})		
	</insert>
</mapper>